header {
  background-image: url(../assets/images/svg-back.svg);
  background-size: cover;
  padding: 50px 0px 20px 0px;
  height: fit-content;
}

.main-container {
  position: relative;
  padding: 30px 20px 30px 20px;
  max-width: 90ch;
  margin: auto;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-column-small-gap {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.flex-column-no-gap {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 0px 33px;
}

.flex-row-small-gap {
  display: flex;
  gap: 7px;
  align-items: center;
}

.profile-links {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.project-container {
  & + & {
    margin-top: 15px;
  }
}

.project-links {
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}

.project-stack {
  margin-bottom: 10px;
}

.profile-link {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid transparent;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

.profile-link-svg {
  width: 50px !important;
  height: 50px !important;

  &:hover {
    filter: drop-shadow(0px 0px 8px #fdfefe);
  }
}

.theme-switch {
  position: absolute;
  top: 15px;
  right: 30px;
}

.language-switch {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media all and (max-width: 480px) {
  .profile-link-svg {
    width: 40px !important;
    height: 40px !important;
  }

  .profile-links {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }

  .theme-switch {
    top: 10px;
    right: 10px;
  }

  header {
    padding: 20px 0px 10px 0px;
  }
}
